<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
</configuration>

<!--<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="neuron.pipelines" type="Neuron.Configuration.PipelinesConfigurationSection, Neuron" />
	</configSections>
	<log4net>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<logName value="Application" />
			<applicationName value="Neuron ESB Test Client" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline%exception" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="EventLogAppender" />
		</root>
	</log4net>
	<neuron.pipelines configSource="Pipelines\neuronpipelines.config" />
	<appSettings>
		<add key="esbServiceIdentity" value="" />
		<add key="log4net.Internal.Debug" value="false" />
		<add key="TempDirectory" value="" />
		<add key="InstanceName" value="" />
		<add key="Machine" value="localhost" />
		<add key="Port" value="50000" />
	</appSettings>
	<runtime>
		<AppContextSwitchOverrides value="Npgsql.EnableStoredProcedureCompatMode=true;Npgsql.EnableLegacyTimestampBehavior=true;" />
		 Signature verification for the assembly. False is disabled 
		<generatePublisherEvidence enabled="false" />
		<enforceFIPSPolicy enabled="false" />
	</runtime>
	<system.diagnostics>
		<switches>
			 This switch controls ESB trace messages. 
			 Value  Meaning 
			 =====  ======= 
			   0    No tracing 
			   1    Trace errors 
			   2    Trace errors + warnings 
			   3    Trace errors + warnings + info 
			   4    Trace errors + warnings + info + verbose 
			<add name="esbTraceSwitch" value="4" />
		</switches>
	</system.diagnostics>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100" />
		</connectionManagement>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>-->
